#ff{
    background-image: url('https://i.pinimg.com/736x/6d/a9/f7/6da9f783d51f856361fde77593069001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 1.2rem;
    height: 100vh;
}

#total-tasks{
    background-color: #4cb4c7;
}
#tasks-completed{
    background-color: #7abecc;
}
#tasks-pending{
    background-color: #7CD1C0;
}

h4{
    color: aliceblue;
}